@use '../../scss/utils/' as *;
@use 'sass:math';

.revenue-list {
  & > * ~ * {
    margin-top: math.div($spacing, 2);
  }

  &-item {
    &__info {
      @include flex(center, space-between);
      margin-bottom: math.div($spacing, 6);
      font-size: $fontSizeMedium;

      span {
        font-weight: 700;
      }
    }
  }
}
